<ngb-alert *ngIf="error"
           type="danger"
           (close)="error = null"
           [dismissible]="true">
    <strong>Error</strong> {{error}}
</ngb-alert>

<div class="nicefont text-center animated flash infinite"
     *ngIf="!photos">
    Loading photos...
</div>
<section id="lightgallery" class="animated fadeIn"
         *ngIf="photos">

    <div [ngStyle]="{ 'width': photo.meta.w*200/photo.meta.h + 'px', 'flex-grow':photo.meta.w*200/photo.meta.h }"
         [attr.data-src]="photo.baseUrl + '=w4000-h4000'"
         *ngFor="let photo of photos">
        <i [ngStyle]="{ 'padding-bottom': photo.meta.h/photo.meta.w*100 + '%' }"></i>
        <a [href]="photo.baseUrl + '=w4000-h4000'"><img [src]="photo.baseUrl"></a>
    </div>
</section>