#lightgallery {
    display: flex;
    flex-wrap: wrap;

    div {
        cursor: pointer;
        margin: 2px;
        background-color: gray;
        position: relative;
    }

    i {
        display: block;
    }

    img {
        position: absolute;
        top: 0;
        width: 100%;
        vertical-align: bottom;
    }
}

#lightgallery::after {
    content: '';
    flex-grow: 999999999;
}