/* You can add global styles to this file, and also import other style files */
@import './bootstrap.css';

.alert {
    position: absolute;
    right: 10px;
    top: 10px;
}

*:focus { outline: none; }
.nicefont {
    font-family: 'Permanent Marker', cursive;
}