.album-container {
    cursor: pointer;

}
.album-img {
    text-align: center;
    height: 400px;
    background: black no-repeat center center;
    overflow: hidden;
    background-size: cover;
    margin-bottom: 20px;
    border-radius: 10px;
}
.album-title {
    color: white;
    text-shadow:
    4px 2px 11px #000000;
}
.search-album {
    background-color: gray;
    position: block;
    margin: 20px;
    width: 400px;
}

@media only screen and (min-width: 900px)  {
    .search-album {
        margin: 20px;
        position: absolute;
        top: 0px;
        width: 200px;
        right: 0px;
    }
}