.album-container {
    cursor: pointer;

}
.album-img {
    text-align: center;
    height: 400px;
    background: black no-repeat center center;
    overflow: hidden;
    background-size: cover;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 5px solid Black;
}
.album-title {
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
.search-album {
    position: absolute;
    top: 20px;
    width: 200px;
    right: 20px;
}